header {
    background-color: #24c0eb;
    /*Cor de fundo*/
    text-align: center;
    /*alinhar texto no centro*/
    padding: 50px;
    /*altera tamanho do fundo*/
    display: flex;
    /*Responsavel por tornar os itens flex e deixar lado a lado /desbloqueia outras tag*/
    justify-content: center;
    /*Organização dos conteudos dentro do Cabeçalho*/
    gap: 15px;
    /*Espaçamentos entro os elementos (h1 e img)*/
    align-items: center;
    /*Alinhamento dos itens*/
}

header h1 {
    color: #f1ebeb;
    /*cor da letra*/
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    /*altera tamanho da fonte*/
}


header img {
    width: 70px;
    /*largura da logo*/

}




.sec1 {
    background-color: #f1ebeb;
    /*Cor de fundo*/
    padding: 100px;
    /*altera tamanho do fundo*/
    display: flex;
    /*Responsavel por tornar os itens flex e deixar lado a lado /desbloqueia outras tag*/
    justify-content: center;
    /*Organização dos conteudos dentro ao centro*/
    gap: 20px;
    /*Espaçamentos entro os elementos*/
    align-items: center;
    /*Alinhamento dos itens*/
}


.sec2 {
    background-color: #eee8e8;
    /*Cor de fundo*/
    padding: 100px;
    /*altera tamanho do fundo*/
    display: flex;
    /*Responsavel por tornar os itens flex e deixar lado a lado /desbloqueia outras tag*/
    justify-content: center;
    /*Organização dos conteudos dentro ao centro*/
    gap: 20px;
    /*Espaçamentos entro os elementos*/
    align-items: center;
    /*Alinhamento dos itens*/
}

.sec3 {
    background-color: #cacaca;
    /*Cor de fundo*/
    text-align: center;
}

details {
    background-color: #cacaca;
    /*Cor de fundo*/
    padding: 100px;
    /*altera tamanho do fundo*/
}

summary {
    color: #000000;
    padding: 100px;
    /*altera tamanho do fundo*/
    text-align: center;
    font-size: 40px;
    /*altera tamanho da fonte*/

}

.sec3 i {
    font-size: 30px;
    /*altera tamanho da fonte*/
    color: beige;



}

.sec4 {
    padding: 300px;
    background-image: url(imagens/coffeehouse-2600877_1280.jpg);
    /*caminho da imagem*/
    background-position: center;
    /*posição da imagem*/
    background-size: cover;
    /*Preenchimento total da imagem*/
    background-repeat: no-repeat;
    /*retirando a repetição da imagem no Backgroud.*/
    display: flex;
    /*Tornando os itens flex */
    justify-content: center;
    /*Alinhamento o botão ao centro*/


}

.sec4 button {
    width: 150px;
    /*largura do botão*/
    padding: 10px;
    /*preechimento do botão*/
    background-color: rgba(128, 128, 128, 0.26);
    /*cor de fundo com opacidade*/
    color: white;
    /*cor de letrado botão*/
    border-radius: 10px;
    /*Arredonda as bordas*/

}

/* Efeito de hover - quando o botão é pressionado */
.sec4 button:hover {
    background-color: #000000a2;
    /* Cor de fundo ao passar o mouse */
}





footer {
    background-color: #5cceee;
    /*Cor de fundo*/
    padding: 90px;
    /*altera tamanho do fundo*/
    text-align: center;
 
}


footer i {
    font-size: 30px;
    color: beige;

}

/**/